# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT
#
# https://zmkfirmware.dev/docs/development/new-shield#kconfigshield
# The Kconfig.shield file defines any additional Kconfig settings that 
# may be relevant when using this keyboard. For most keyboards, there
# is just one additional configuration value for the shield itself.

config SHIELD_12X5
    def_bool $(shields_list_contains,12X5)
